<header class="header-wrapper container">
  <div class="header-content">
    <div class="header-content-logo">
      <h1>Get-A-Way</h1>
    </div>
    <nav class="header-content-navigate">
      <ul class="nav navbar-nav navbar-right nav-main">
        <li>
          <a routerLink="/dashboard">
            Home
          </a>
        </li>
        <li>
          <a href="/check-form">
            Find Your Trip
          </a>
        </li>
        <li>
          <a href="" id="nav-link-help" data-ga-category="menu" data-ga-action="help">
            Help
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="alternate sidepanel-item-small ">
          <a href="" id="nav-link-sign-up" data-ga-category="menu" data-ga-action="sign-up">
            Sign up
          </a>
        </li>
        <li class="alternate sidepanel-item-small">
          <a href="" id="header-login-link" class="user-link " data-tracking="{&quot;category&quot;: &quot;menu&quot;, &quot;action&quot;: &quot;log-in&quot;}">
            <span class="user-text navbar-user-text">Log In</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</header>
