<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Retrieve booking</mat-card-title>
  </mat-card-header>


  <mat-card-content>
    <p>
      Find your booking by filling out you family name and the booking code in your reservation.
    </p>
  </mat-card-content>
  <div class="form-container">
    <form [formGroup]="checkInForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput #input [formControlName]="'bookingCode'" minlength="5" maxlength="6" pattern="^[a-zA-Z2-9]*$" placeholder="Booking code">
        <mat-error *ngIf="checkInForm.controls.bookingCode.invalid">{{ invalidBookignCodeMessage }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput #input [formControlName]="'familyName'" minlength="2" maxlength="30" pattern="^[a-zA-Z]*$" placeholder="Family name">
        <mat-error *ngIf="checkInForm.controls.familyName.invalid">{{ invalidFamilyNameMessage }}</mat-error>

      </mat-form-field>
      <div class="btn-form-submit-wrapper">
        <button mat-raised-button [disabled]="checkInForm.invalid" type="submit" class="btn-form-submit">Find</button>
      </div>

    </form>
  </div>

</mat-card>
